openapi: 3.1.0
info:
  contact:
    email: ignacio.gomez.arboleda@gmail.com
    name: Socialapp
    url: https://socialapp.gomezignacio.com
  description: |
    Socialapp API for user management, social interactions, authorization,
    and shortened URL operations.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://socialapp.gomezignacio.com/terms
  title: Socialapp
  version: 1.0.0
servers:
- description: Production
  url: https://socialapp.gomezignacio.com
- description: Local development (API server)
  url: http://localhost:8080
- description: Local development (alternate port)
  url: http://localhost:8085
security:
- OAuth2: []
tags:
- description: User account lifecycle and profile operations
  name: User
- description: Comment creation and retrieval operations
  name: Comment
- description: Authentication and access token operations
  name: Authentication
- description: Follower and following relationship operations
  name: Following
- description: Role administration operations
  name: Role
- description: OAuth scope administration operations
  name: Scope
- description: "Short URL creation, redirect, and metadata operations"
  name: URL
paths:
  /:
    get:
      description: Return a welcome message for the Socialapp API.
      operationId: welcome
      responses:
        "200":
          content:
            text/plain:
              example: Welcome to the Socialapp API
              schema:
                type: string
          description: Welcome message
        "401":
          content:
            application/json:
              example:
                code: 401
                message: Unauthorized
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              example:
                code: 500
                message: Unexpected error
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      summary: Get API welcome message
      tags:
      - User
  /v1/users:
    get:
      description: List users with offset-based pagination.
      operationId: listUsers
      parameters:
      - description: Maximum number of users to return
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination offset
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: "Case-insensitive user search across username, first name, last\
          \ name, and email"
        example: john
        explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1
                username: johndoe
                first_name: John
                last_name: Doe
                email: johndoe@mail.com
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: List of all the users
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.list
      summary: List users
      tags:
      - User
    post:
      description: Create a new user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            example:
              username: johndoe
              first_name: John
              last_name: Doe
              password: Secure123!
              email: johndoe@mail.com
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        description: Create a new user
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: 1
                username: johndoe
                first_name: John
                last_name: Doe
                email: johndoe@mail.com
                created_at: 2020-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/CreateUserResponse"
          description: User was created successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      summary: Create user
      tags:
      - User
  /v1/password:
    post:
      description: Change the password for the authenticated user.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            example:
              old_password: Secure123!
              new_password: Secure1234!
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        description: Change password request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Password was changed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.update
      summary: Change password
      tags:
      - User
    put:
      description: Reset a user's password using their email address.
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            example:
              email: johndoe@mail.com
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        description: Reset password
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: Password was reset successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.update
      summary: Reset password
      tags:
      - User
  /v1/feed:
    get:
      description: Return the current user's feed.
      operationId: getUserFeed
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 101
                content: This is a comment
                like_count: 10
                created_at: 2020-01-01T00:00:00Z
                username: johndoe
              schema:
                items:
                  $ref: "#/components/schemas/Comment"
                type: array
          description: User feed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.feed.read
      summary: Get user feed
      tags:
      - Comment
  /v1/users/{username}/comments:
    get:
      description: Get all comments for a specific user.
      operationId: getUserComments
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      - description: How many items to return at one time (max 100)
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 123
                content: This is a comment
                like_count: 3
                created_at: 2020-01-01T00:00:00Z
                username: johndoe
              schema:
                items:
                  $ref: "#/components/schemas/Comment"
                type: array
          description: User comments
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.read
      summary: List comments for a user
      tags:
      - User
  /v1/users/{username}/followers:
    get:
      description: Get all followers for a specific user.
      operationId: getUserFollowers
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 2
                username: janedoe
                first_name: Jane
                last_name: Doe
                email: janedoe@mail.com
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: User followers
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.follower.read
      summary: Get all followers for a user
      tags:
      - User
      - Following
  /v1/users/{username}/following:
    get:
      description: Get all users followed by a specific user.
      operationId: getFollowingUsers
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 3
                username: editor1
                first_name: Ed
                last_name: Itor
                email: editor1@mail.com
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: Followed users
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.following.list
      summary: Get all followed users for a user
      tags:
      - User
  /v1/users/{followedUsername}/followers/{followerUsername}:
    delete:
      description: Remove a follower relationship between two users.
      operationId: unfollowUser
      parameters:
      - description: Username of the user being followed
        example: johndoe
        explode: false
        in: path
        name: followedUsername
        required: true
        schema:
          type: string
        style: simple
      - description: Username of the follower to remove
        example: jackdoe
        explode: false
        in: path
        name: followerUsername
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: User was unfollowed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.follower.delete
      summary: Remove a user as a follower
      tags:
      - User
    post:
      description: Create a follower relationship between two users.
      operationId: followUser
      parameters:
      - description: Username of the user being followed
        example: johndoe
        explode: false
        in: path
        name: followedUsername
        required: true
        schema:
          type: string
        style: simple
      - description: Username of the follower to add
        example: jackdoe
        explode: false
        in: path
        name: followerUsername
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: User was followed successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.follower.create
      summary: Add a user as a follower
      tags:
      - User
  /v1/users/{username}:
    delete:
      description: Delete a user by username.
      operationId: deleteUser
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User was deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Username not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.delete
      summary: Deletes a particular user
      tags:
      - User
    get:
      description: Get a user by username.
      operationId: getUserByUsername
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User details by username
          headers:
            x-next:
              description: A link to the next page of responses
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Username not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.read
      summary: Get a particular user by username
      tags:
      - User
    put:
      description: Update a user by username.
      operationId: updateUser
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              username: johndoe
              first_name: John
              last_name: Updated
              email: johndoe@mail.com
            schema:
              $ref: "#/components/schemas/User"
        description: Update a user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User was updated successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.update
      summary: Update a user
      tags:
      - User
  /v1/users/{username}/roles:
    get:
      description: Get all roles assigned to a user.
      operationId: getRolesForUser
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1
                name: admin
                description: Administrator role
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/Role"
                type: array
          description: Roles for a user
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.roles.list
      summary: Get all roles for a user
      tags:
      - User
    put:
      description: Replace all roles for a user.
      operationId: updateRolesForUser
      parameters:
      - description: Username of the user
        example: johndoe
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
              - administrator
              - user
              - owner
              - editor
              items:
                type: string
              type: array
        description: Update all roles for a user
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Role"
                type: array
          description: Roles for a user
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.users.roles.update
      summary: Update all roles for a user
      tags:
      - User
  /v1/comments/{id}:
    get:
      description: Get details for a specific comment.
      operationId: getComment
      parameters:
      - description: ID of the comment
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                content: This is a comment
                like_count: 10
                created_at: 2020-01-01T00:00:00Z
                username: johndoe
              schema:
                $ref: "#/components/schemas/Comment"
          description: Details about a comment by ID
          headers:
            x-next:
              description: A link to the next page of responses
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.read
      summary: Get comment by ID
      tags:
      - Comment
  /v1/comments:
    get:
      description: Search comments by author and creation time.
      operationId: searchComments
      parameters:
      - description: Filter comments by the author's username.
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: Return comments created at or after this timestamp.
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Return comments created at or before this timestamp.
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Comment"
                type: array
          description: The most recent matching comments
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.read
      summary: Search comments
      tags:
      - Comment
    post:
      description: Create a new comment.
      operationId: createComment
      requestBody:
        content:
          application/json:
            example:
              content: This is a comment
              username: johndoe
            schema:
              $ref: "#/components/schemas/CreateCommentRequest"
        description: Create a new comment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: New comment was created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.create
      summary: Create a new comment
      tags:
      - Comment
  /like:
    delete:
      description: Remove a like from a comment as the authenticated user.
      operationId: unlikeComment
      requestBody:
        content:
          application/json:
            example:
              comment_id: 123
            schema:
              $ref: "#/components/schemas/LikeRequest"
        description: Comment unlike request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Updated comment with the new like count
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Comment not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.update
      summary: Unlike a comment
      tags:
      - Comment
    post:
      description: Like a comment as the authenticated user.
      operationId: likeComment
      requestBody:
        content:
          application/json:
            example:
              comment_id: 123
            schema:
              $ref: "#/components/schemas/LikeRequest"
        description: Comment like request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
          description: Updated comment with the new like count
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Comment not found
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.comments.update
      summary: Like a comment
      tags:
      - Comment
  /v1/oauth/token:
    post:
      description: Exchange HTTP basic credentials for an access token.
      operationId: getAccessToken
      responses:
        "200":
          content:
            application/json:
              example:
                access_token: 123token123
                token_type: Bearer
                scopes:
                - socialapp.users.list
                expires_in: 3600
              schema:
                $ref: "#/components/schemas/AccessToken"
          description: Access token
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - BasicAuth: []
      summary: Get an access token
      tags:
      - Authentication
  /v1/roles:
    get:
      description: List roles with offset-based pagination.
      operationId: listRoles
      parameters:
      - description: The numbers of roles to return
        example: 20
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
        example: 0
        explode: false
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1
                name: admin
                description: Administrator role
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/Role"
                type: array
          description: List of roles
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.list
      summary: Returns a list of roles
      tags:
      - Role
    post:
      description: Create a new role.
      operationId: createRole
      requestBody:
        content:
          application/json:
            example:
              name: admin
              description: Administrator role
            schema:
              $ref: "#/components/schemas/Role"
        description: Create a new role
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
          description: New role was created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.create
      summary: Create a new role
      tags:
      - Role
  /v1/roles/{id}:
    delete:
      description: Delete a role
      operationId: deleteRole
      parameters:
      - description: id of the role
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "200":
          description: Role was deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.delete
      summary: Delete a role
      tags:
      - Role
    get:
      description: Get a role by ID.
      operationId: getRole
      parameters:
      - description: The id of the role
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 1
                name: admin
                description: Administrator role
                created_at: 2020-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/Role"
          description: Role is returned
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.read
      summary: Get role by ID
      tags:
      - Role
    put:
      description: Update a role by ID.
      operationId: updateRole
      parameters:
      - description: id of the role
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: admin
              description: Administrator role
            schema:
              $ref: "#/components/schemas/Role"
        description: Update a role
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
          description: Role was updated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.update
      summary: Update a role
      tags:
      - Role
  /v1/roles/{id}/scopes:
    get:
      description: List scopes assigned to a role.
      operationId: listScopesForRole
      parameters:
      - description: The id of the role
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      - description: The numbers of scopes to return
        example: 20
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
        example: 0
        explode: false
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1
                name: socialapp.roles.read
                description: Read role records
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/Scope"
                type: array
          description: List of scopes
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.roles.scopes.list
      summary: List role scopes
      tags:
      - Role
    post:
      description: Add one or more scopes to a role.
      operationId: addScopeToRole
      parameters:
      - description: The id of the role
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
            - socialapp.roles.read
            - socialapp.roles.update
            schema:
              items:
                type: string
              type: array
        description: Add a scope to a role
        required: true
      responses:
        "200":
          description: List of scopes
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Role not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Scope not found
      security:
      - OAuth2:
        - socialapp.roles.scopes.create
      summary: Add a scope to a role
      tags:
      - Role
  /v1/roles/{role_id}/scopes/{scope_id}:
    delete:
      description: Remove a scope from a role.
      operationId: removeScopeFromRole
      parameters:
      - description: The id of the role
        example: 123
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      - description: The id of the scope
        example: 123
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "204":
          description: Scope was removed from the role
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Role not found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Scope not found
      security:
      - OAuth2:
        - socialapp.roles.scopes.delete
      summary: Remove a scope from a role
      tags:
      - Role
  /v1/scopes:
    get:
      description: List scopes with offset-based pagination.
      operationId: listScopes
      parameters:
      - description: The numbers of scopes to return
        example: 20
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
        example: 0
        explode: false
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1
                name: socialapp.roles.read
                description: Read role records
                created_at: 2020-01-01T00:00:00Z
              schema:
                items:
                  $ref: "#/components/schemas/Scope"
                type: array
          description: List of scopes
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.scopes.list
      summary: List scopes
      tags:
      - Scope
    post:
      description: Create a new scope.
      operationId: createScope
      requestBody:
        content:
          application/json:
            example:
              name: socialapp.roles.read
              description: Read role records
            schema:
              $ref: "#/components/schemas/Scope"
        description: Create a new scope
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scope"
          description: New scope was created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.scopes.create
      summary: Create a new scope
      tags:
      - Scope
  /v1/scopes/{id}:
    delete:
      description: Delete a scope
      operationId: deleteScope
      parameters:
      - description: id of the scope
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "204":
          description: Scope was deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.scopes.delete
      summary: Delete a scope
      tags:
      - Scope
    get:
      description: Get a scope by ID.
      operationId: getScope
      parameters:
      - description: The id of the scope
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 1
                name: socialapp.roles.read
                description: Read role records
                created_at: 2020-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/Scope"
          description: Scope is returned
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.scopes.read
      summary: Get scope by ID
      tags:
      - Scope
    put:
      description: Update a scope by ID.
      operationId: updateScope
      parameters:
      - description: id of the scope
        example: 123
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          pattern: ^-?\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: socialapp.roles.read
              description: Read role records
            schema:
              $ref: "#/components/schemas/Scope"
        description: Update a scope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scope"
          description: Scope was updated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unexpected error
      security:
      - OAuth2:
        - socialapp.scopes.update
      summary: Update a scope
      tags:
      - Scope
  /v1/urls/{alias}:
    delete:
      description: Delete a URL alias and its metadata.
      operationId: deleteUrl
      parameters:
      - description: The alias of the url
        example: abcdef
        explode: false
        in: path
        name: alias
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Url was deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Url not found
      security:
      - OAuth2:
        - shortly.url.delete
      summary: Delete URL alias
      tags:
      - URL
    get:
      description: Resolve an alias and redirect to the destination URL.
      operationId: getUrl
      parameters:
      - description: The alias of the url
        example: abcdef
        explode: false
        in: path
        name: alias
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Redirect to the url
        "308":
          description: Redirect to the url
          headers:
            Location:
              description: The url
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Url not found
      summary: Redirect using URL alias
      tags:
      - URL
  /v1/urls/{alias}/data:
    get:
      description: Return metadata for a URL alias.
      operationId: getUrlData
      parameters:
      - description: The alias of the url
        example: abcdef
        explode: false
        in: path
        name: alias
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/URL"
          description: Url is returned
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Url not found
      summary: Get URL metadata
      tags:
      - URL
  /v1/urls:
    post:
      description: Create a new URL alias.
      operationId: createUrl
      requestBody:
        content:
          application/json:
            example:
              alias: example
              url: https://example.com
            schema:
              $ref: "#/components/schemas/URL"
        description: Create a new url
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/URL"
          description: Url is returned
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Url already exists
      security:
      - OAuth2:
        - shortly.url.create
      summary: Create URL alias
      tags:
      - URL
components:
  schemas:
    CreateCommentRequest:
      description: Request payload for creating a comment.
      example:
        content: This is a comment
        username: johndoe
      properties:
        content:
          description: Text content of the comment.
          type: string
        username:
          description: Username of the comment author.
          type: string
      required:
      - content
      - username
    CreateUserRequest:
      description: Request payload for creating a user account.
      example:
        username: johndoe
        first_name: John
        last_name: Doe
        password: Secure123
        email: johndoe@mail.com
      properties:
        username:
          description: Unique username for the account.
          type: string
        password:
          description: Plain-text password used during account creation.
          type: string
        first_name:
          description: User first name.
          type: string
        last_name:
          description: User last name.
          type: string
        email:
          description: User email address.
          format: email
          type: string
      required:
      - email
      - first_name
      - last_name
      - password
      - username
    CreateUserResponse:
      description: Response payload returned after user creation.
      example:
        id: 1
        username: johndoe
        first_name: John
        last_name: Doe
        email: john@doe.com
        created_at: 2020-01-01T00:00:00.000+00:00
      properties:
        id:
          description: Unique user identifier.
          format: int64
          pattern: ^-?\d+$
          type: string
        username:
          description: Unique username for the account.
          type: string
        first_name:
          description: User first name.
          type: string
        last_name:
          description: User last name.
          type: string
        email:
          description: User email address.
          format: email
          type: string
        created_at:
          description: Timestamp when the user was created.
          format: date-time
          type: string
      required:
      - created_at
      - email
      - first_name
      - id
      - last_name
      - username
    User:
      description: User profile information.
      example:
        username: johndoe
        first_name: John
        last_name: Doe
        email: johndoe@mail.com
        created_at: 2020-01-01T00:00:00Z
      properties:
        id:
          description: Unique user identifier.
          format: int64
          pattern: ^-?\d+$
          type: string
        username:
          description: Unique username for the account.
          type: string
        first_name:
          description: User first name.
          type: string
        last_name:
          description: User last name.
          type: string
        email:
          description: User email address.
          format: email
          type: string
        created_at:
          description: Timestamp when the user was created.
          format: date-time
          type: string
      required:
      - email
      - first_name
      - last_name
      - username
    Comment:
      description: User-generated comment.
      example:
        content: This is a comment
        username: johndoe
      properties:
        id:
          description: Unique comment identifier.
          format: int64
          pattern: ^-?\d+$
          type: string
        content:
          description: Comment text.
          type: string
        like_count:
          description: Number of likes for the comment.
          format: int64
          pattern: ^-?\d+$
          type: string
        created_at:
          description: Timestamp when the comment was created.
          format: date-time
          type: string
        username:
          description: Username of the comment author.
          type: string
      required:
      - content
      - username
    LikeRequest:
      description: Like or unlike a comment.
      example:
        comment_id: 123
      properties:
        comment_id:
          description: Unique identifier of the comment.
          format: int64
          pattern: ^-?\d+$
          type: string
      required:
      - comment_id
    AccessToken:
      description: OAuth access token response.
      example:
        access_token: 123token123
        token_type: Bearer
        expires_in: 3600
      properties:
        access_token:
          description: Access token used for authenticated requests.
          type: string
        token_type:
          description: Type of token returned by the authorization server.
          type: string
        scopes:
          description: Granted OAuth scopes.
          items:
            type: string
          type: array
        expires_in:
          description: Access token lifetime in seconds.
          type: integer
      required:
      - access_token
      - expires_in
      - token_type
    Error:
      description: Standard error payload returned by the API.
      example:
        code: 404
        message: Not found
      properties:
        code:
          description: HTTP-like error code.
          format: int32
          type: integer
        message:
          description: Human-readable error message.
          type: string
      required:
      - code
      - message
    ChangePasswordRequest:
      description: Request payload for changing a user's password.
      example:
        old_password: Secure123!
        new_password: Secure1234!
      properties:
        old_password:
          description: Current password.
          type: string
        new_password:
          description: New password.
          type: string
      required:
      - new_password
      - old_password
    ResetPasswordRequest:
      description: Request payload for triggering a password reset.
      example:
        email: johndoe@mail.com
      properties:
        email:
          description: Email address associated with the user account.
          format: email
          type: string
      required:
      - email
    Role:
      description: Role assigned to users for authorization.
      example:
        name: admin
        description: Administrator Role
      properties:
        id:
          description: Unique role identifier.
          format: int64
          pattern: ^-?\d+$
          type: string
        name:
          description: Unique role name.
          type: string
        description:
          description: Description of what the role grants.
          type: string
        created_at:
          description: Timestamp when the role was created.
          format: date-time
          type: string
      required:
      - name
    Scope:
      description: OAuth scope used for access control.
      example:
        name: socialapp.roles.read
        description: Read roles
        id: 1
      properties:
        id:
          description: Unique scope identifier.
          format: int64
          pattern: ^-?\d+$
          type: string
        name:
          description: "Scope name (for example, `socialapp.roles.read`)."
          type: string
        description:
          description: Description of the permission granted by this scope.
          type: string
        created_at:
          description: Timestamp when the scope was created.
          format: date-time
          type: string
      required:
      - description
      - name
    URL:
      description: URL alias and metadata.
      example:
        alias: example
        url: https://example.com
        created_at: 2020-01-01T00:00:00Z
        updated_at: 2020-01-01T00:00:00Z
        deleted_at: 2020-01-01T00:00:00Z
      properties:
        url:
          description: Destination URL.
          format: uri
          type: string
        alias:
          description: Short alias used to reference the URL.
          type: string
        created_at:
          description: Timestamp when the alias was created.
          format: date-time
          type: string
        updated_at:
          description: Timestamp when the alias was last updated.
          format: date-time
          type: string
        deleted_at:
          description: Timestamp when the alias was deleted.
          format: date-time
          type: string
      required:
      - alias
      - url
  securitySchemes:
    BasicAuth:
      scheme: basic
      type: http
    OAuth2:
      flows:
        clientCredentials:
          scopes:
            socialapp.users.list: List users
            socialapp.users.create: Create users
            socialapp.users.update: Update users
            socialapp.users.delete: Delete users
            socialapp.users.read: Read a user
            socialapp.comments.list: List comments
            socialapp.comments.create: Create comments
            socialapp.comments.update: Update comments
            socialapp.comments.delete: Delete comments
            socialapp.comments.read: Read comments
            socialapp.feed.read: Read user feed
            socialapp.followers.list: List followers
            socialapp.follower.create: Create follower relationship
            socialapp.follower.read: Read follower information
            socialapp.follower.delete: Delete follower relationship
            socialapp.following.list: List following
            socialapp.roles.list: List roles
            socialapp.roles.create: Create roles
            socialapp.roles.read: Read a role
            socialapp.roles.update: Update roles
            socialapp.roles.delete: Delete roles
            socialapp.scopes.list: List scopes
            socialapp.scopes.create: Create scopes
            socialapp.scopes.read: Read a scope
            socialapp.scopes.update: Update scopes
            socialapp.scopes.delete: Delete scopes
            socialapp.roles.list_scopes: List scopes of a role
            socialapp.roles.scopes.list: List scopes of a role
            socialapp.roles.scopes.create: Create scopes of a role
            socialapp.roles.scopes.delete: Delete scopes of a role
            socialapp.users.roles.list: List roles of a user
            socialapp.users.roles.create: Create roles of a user
            socialapp.users.roles.update: Update roles of a user
            socialapp.users.roles.delete: Delete roles of a user
            shortly.url.create: Create a url
            shortly.url.update: Update a url
            shortly.url.delete: Delete a url
          tokenUrl: /v1/oauth/token
      type: oauth2
